---
layout: project
title: Download - Cache Stores
---

.row-fluid
  .span9

    %ul.breadcrumb
      %li
        %a{:href => "/download.html"} Downloads
        %span.divider /
      %li.active Cache Store Implementations

    %h1 Cache Store Implementations
    .row-fluid
      %table.table.table-striped
        %thead
          %tr
            %th
            %th Stable
            %th Unstable
        %tbody
          %tr
            %td
              %h3 Cloud Cache Store
              %p Brief paragraph abotu this cache store. Some interesting blurb about it and why it is useful.

            %td
              %a.btn.btn-success{"data-toggle" => "modal", :href => "#Cloud520CR2", :role => "button"} 5.2.0.CR2 Zip
              / Modal
              #Cloud520CR2.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#myModalLabel Maven Coordinates - Cloud Cache Store 5.2.0.CR2
                .modal-body
                  %p Copy and paste the following code into your pom.xml file to add the Java Client 5.2.0.CR2 dependency
                  %pre
                    :preserve
                      &lt;p&gt;XML Code Snipped goes here...&lt;/p&gt;
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
              %br
              %a See maven coordinates

            %td
              %a.btn.btn-success{"data-toggle" => "modal", :href => "#Cloud516Final", :role => "button"} 5.1.6.Final Zip
              / Modal
              #Cloud516Final.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#myModalLabel Maven Coordinates - Cloud Cache Store 5.1.6.Final Zip
                .modal-body
                  %p Copy and paste the following code into your pom.xml file to add the Java Client ______ dependency
                  %pre
                    :preserve
                      &lt;p&gt;XML Code Snipped goes here...&lt;/p&gt;
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
              %br
              %a See maven coordinates

          %tr
            %td
              %h3 Cassandra Cache Store
              %p Brief paragraph abotu this cache store. Some interesting blurb about it and why it is useful.

            %td
              %a.btn.btn-success{"data-toggle" => "modal", :href => "#Cassandra520CR2", :role => "button"} 5.2.0.CR2 Zip
              / Modal
              #Cassandra520CR2.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#myModalLabel Maven Coordinates - Cassandra Cache Store 5.2.0.CR2 Zip
                .modal-body
                  %p Copy and paste the following code into your pom.xml file to add the Java Client ______ dependency
                  %pre
                    :preserve
                      &lt;p&gt;XML Code Snipped goes here...&lt;/p&gt;
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
              %br
              %a See maven coordinates

            %td
              %a.btn.btn-success{"data-toggle" => "modal", :href => "#Cassandra516Final", :role => "button"}  5.1.6.Final Zip
              / Modal
              #Cassandra516Final.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#myModalLabel Maven Coordinates - Cassandra Cache Store 5.1.6.Final Zip
                .modal-body
                  %p Copy and paste the following code into your pom.xml file to add the Java Client ______ dependency
                  %pre
                    :preserve
                      &lt;p&gt;XML Code Snipped goes here...&lt;/p&gt;
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
              %br
              %a See maven coordinates

          %tr
            %td
              %h3 CMongoDB Cache Store

              %p Brief paragraph abotu this cache store. Some interesting blurb about it and why it is useful.
            %td
              %a.btn.btn-success{"data-toggle" => "modal", :href => "#CMongo520CR2", :role => "button"} 5.2.0.CR2 Zip
              / Modal
              #CMongo520CR2.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#myModalLabel Maven Coordinates - CMongoDB Cache Store 5.2.0.CR2 Zip
                .modal-body
                  %p Copy and paste the following code into your pom.xml file to add the Java Client ______ dependency
                  %pre
                    :preserve
                      &lt;p&gt;XML Code Snipped goes here...&lt;/p&gt;
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
              %br
              %a See maven coordinates

            %td
              %a.btn.btn-success{"data-toggle" => "modal", :href => "#CMongo516Final", :role => "button"} 5.1.6.Final Zip
              / Modal
              #CMongo516Final.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#myModalLabel Maven Coordinates - CMongoDB Cache Store 5.1.6.Final Zip
                .modal-body
                  %p Copy and paste the following code into your pom.xml file to add the Java Client ______ dependency
                  %pre
                    :preserve
                      &lt;p&gt;XML Code Snipped goes here...&lt;/p&gt;
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
              %br
              %a See maven coordinates

  .span3
    %h2 Cache Stores
    %p
      Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl. Phasellus vehicula magna sed nulla interdum, a pellentesque eros pulvinar. Nulla imperdiet enim sed aliquet lacinia. Nullam nec dolor hendrerit, vehicula libero vel, laoreet erat. Ut sed ipsum faucibus, dignissim neque nec, cursus quam. Fusce sagittis placerat vestibulum. Vestibulum quis tincidunt nulla. Cras venenatis orci ac augue egestas consequat. Nunc luctus magna vitae dignissim eleifend. Quisque consectetur porttitor turpis. Proin ac nulla libero.

