---
layout: rightcol
title: Chat
---

%h2 IRC
.clear
  %br/
.well
  %p
    Several project members will usually be available via IRC
    %a{href: "irc://chat.freenode.net/teiid"} #teiid on chat.freenode.net
    IRC is a good place to start with questions since you may get directed to a better place more quickly.  In many instances what starts on IRC will start a more in-depth JIRA report or forum posting.  See
    %a{href: "http://jboss.org/community/docs/DOC-10015"} IRC information
    on other JBoss IRC communities.