---
layout: rightcol
rightcol_partial: rightcol-download.html.haml
title: Download
---

.row-fluid
  %h1 Infinispan 5.2 “Delerium”
  .row-fluid
    .span3
      .label.label-warning
        %i.icon-warning-sign
        Unstable
    .span9
      %h3 5.2.0.CR2
      .row-fluid
        .span3
          %p Zip Downloads:
        .span3
          %a.btn.btn-warning.btn-block All
          Contains all Infinispan components and demos
        .span3
          %a.btn.btn-warning.btn-block Minimal
          Contains just the core Infinispan libraries for embedding in your application
          %br
          %a Learn More »
        .span3
          %a.btn.btn-warning.btn-block Server
          Contains the Infinispan server for use as a remote data grid
          %br
          %a Learn More »
      %br
      .row-fluid
        .span12
          %p Infinispan 5.2 Maven dependency for your pom.xml file:
          %pre
            :preserve

              &lt;p&gt;XML Code Snipped goes here...&lt;/p&gt;

%hr

.row-fluid
  %h1 Infinispan 5.1 “Brahma”
  .row-fluid
    .span3
      .label.label-success
        %i.icon-check-sign
        Stable
    .span9
      %h3 5.1.6.FINAL
      .row-fluid
        .span3
          %p Zip Downloads:
        .span3
          %a.btn.btn-success.btn-block All
          Contains all Infinispan components and demos
        .span3
          %a.btn.btn-success.btn-block Minimal
          Contains just the core Infinispan libraries for embedding in your application
          %br
          %a Learn More »
        .span3
          %a.btn.btn-success.btn-block Server
          Contains the Infinispan server for use as a remote data grid
          %br
          %a Learn More »
      %br
      .row-fluid
        .span12
          %p Infinispan 5.1 Maven dependency for your pom.xml file:
          %pre
            :preserve

              &lt;p&gt;XML Code Snipped goes here...&lt;/p&gt;


#accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
        See earlier versions
        %i.icon-chevron-down
    #collapseOne.accordion-body.collapse.in
      .accordion-inner
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Version
              %th All
              %th Minimal
              %th Server
          %tbody
            %tr
              %td 5.2.x
              %td
                %a html
                |
                %a PDF
                |
                %a ePub
              %td
                %a html
                |
                %a PDF
                |
                %a ePub
              %td
                %a html
                |
                %a PDF
                |
                %a ePub
            %tr
              %td 5.1.x
              %td
                %a html
                |
                %a PDF
                |
                %a ePub
              %td
                %a html
                |
                %a PDF
                |
                %a ePub
              %td
                %a html
                |
                %a PDF
                |
                %a ePub
            %tr
              %td 5.0.x
              %td
                %a html
                |
                %a PDF
                |
                %a ePub
              %td
                %a html
                |
                %a PDF
                |
                %a ePub
              %td
                %a html
                |
                %a PDF
                |
                %a ePub

