---
layout: project
title: Events
---

%h2 Events
%p Calendar of public JUG and JBUG talks, conference sessions, and informal chats on Teiid by the core Teiid development team.
%p
  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "http://www.google.com/calendar/embed?src=v9u39rm7mjndtkci63a4elu5u0%40group.calendar.google.com&amp;ctz=Etc/GMT", :style => "border: 0pt none;", :width => "800"}