---
layout: project
title: Get Involved
---

.row-fluid
  %h1 Getting involved - how to contribute
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere pellentesque arcu, eu volutpat neque adipiscing quis. Aliquam tempor gravida sapien id egestas. Vestibulum sed rhoncus nulla. Ut magna massa, cursus at mattis in, hendrerit nec ipsum. Aliquam quis lectus velit. Nam lacinia ut diam sed mollis. Aliquam posuere ac dolor ultricies hendrerit. Nunc varius ac magna ut tristique. Proin id erat sed risus sollicitudin laoreet. Donec sagittis lacinia lorem, sed aliquam quam tempus id.

  %p Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl. Phasellus vehicula magna sed nulla interdum, a pellentesque eros pulvinar. Nulla imperdiet enim sed aliquet lacinia. Nullam nec dolor hendrerit, vehicula libero vel, laoreet erat. Ut sed ipsum faucibus, dignissim neque nec, cursus quam. Fusce sagittis placerat vestibulum. Vestibulum quis tincidunt nulla.

  %h1 Project Stewardship
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere pellentesque arcu, eu volutpat neque adipiscing quis. Aliquam tempor gravida sapien id egestas. Vestibulum sed rhoncus nulla. Ut magna massa, cursus at mattis in, hendrerit nec ipsum. Aliquam quis lectus velit. Nam lacinia ut diam sed mollis. Aliquam posuere ac dolor ultricies hendrerit. Nunc varius ac magna ut tristique. Proin id erat sed risus sollicitudin laoreet. Donec sagittis lacinia lorem, sed aliquam quam tempus id.

  %h2 Ownership
  %p Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl. Phasellus vehicula magna sed nulla interdum, a pellentesque eros pulvinar. Nulla imperdiet enim sed aliquet lacinia. Nullam nec dolor hendrerit, vehicula libero vel, laoreet erat. Ut sed ipsum faucibus, dignissim neque nec, cursus quam. Fusce sagittis placerat vestibulum. Vestibulum quis tincidunt nulla.

  %h2 Requirement Definition
  %p Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl.

  %h2 Release Cycle
  %p Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl.

  %h2 Contribution
  %p Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl.


