---
layout: project
title: Get Started
---

.row-fluid
  %h1 Quickstarts
  %p Get up and running with Infinispan quickly. Let us walk you through it!

  %dl.dl-horizontal.quickstarts
    %dt Infinispan 5.2.x Quickstart
    %dd
      %a html
      |
      %a PDF
      |
      %a ePub
    %dt Infinispan 5.1.x Quickstart
    %dd
      %a html
      |
      %a PDF
      |
      %a ePub
    %dt Infinispan 5.0.x Quickstart
    %dd
      %a html
      |
      %a PDF
      |
      %a ePub
    %dt Infinispan 4.2.x Quickstart
    %dd
      %a html
      |
      %a PDF
      |
      %a ePub
    %dt Infinispan 4.1.x Quickstart
    %dd
      %a html
      |
      %a PDF
      |
      %a ePub


  %h1 Documentation
  %p Learn more detail about our software.

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Version
        %th User Guide
        %th Getting Started Guide
        %th Wiki
        %th FAQs
        %th Javadocs
    %tbody
      %tr
        %td 5.2.x
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
      %tr
        %td 5.1.x
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
      %tr
        %td 5.0.x
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html

  %h1 Community Help
  %p Learn more detail about our software.

  %dl.dl-horizontal
    %dt User Forums
    %dd can help answer questions you have and be a point of discussion and reference for using Infinispan
    %dt IRC
    %dd
      is our real-time chat location. Join us on the #infinispan freenode channel. Join in to talk to us in real time!
      %a (Freenode IRC instructions)




