---
layout: project
title: Get Started
---

.row-fluid
  .hero-unit
    %h1 Get Started
    %p Get up and running with Infinispan quickly. Let us walk you through it!

.row-fluid
  .span5.quickstarts
    %h2 Quickstarts

    %b Infinispan 5.2.x Quickstart
    %a html
    |
    %a PDF
    |
    %a ePub
    %br

    %b Infinispan 5.1.x Quickstart
    %a html
    |
    %a PDF
    |
    %a ePub
    %br

    %b Infinispan 5.0.x Quickstart
    %a html
    |
    %a PDF
    |
    %a ePub
    %br

    %b Infinispan 4.2.x Quickstart
    %a html
    |
    %a PDF
    |
    %a ePub
    %br

    %b Infinispan 4.1.x Quickstart
    %a html
    |
    %a PDF
    |
    %a ePub

  .span7
    %h2 Community Help
    %p Learn more detail about our software.

    %dl.dl-horizontal
      %dt
        %i.icon-bookmark
        User Forums
      %dd can help answer questions you have and be a point of discussion and reference for using Infinispan
      %dt
        %i.icon-comments-alt
        IRC
      %dd
        is our real-time chat location. Join us on the #infinispan freenode channel. Join in to talk to us in real time!
        %a (Freenode IRC instructions)

%hr

  %h2 Documentation
  %p Learn more detail about our software.

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Version
        %th User Guide
        %th Getting Started Guide
        %th Wiki
        %th FAQs
        %th Javadocs
    %tbody
      %tr
        %td 5.2.x
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
      %tr
        %td 5.1.x
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
      %tr
        %td 5.0.x
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html






