---
layout: project
title: Download - Cache Stores
---

.row-fluid
  .span9

    %ul.breadcrumb
      %li
        %a{:href => "#"} Downloads
        %span.divider /
      %li.active Hot Rod Clients

    %h1 Hot Rod Clients
    .row-fluid
      %table.table.table-striped
        %thead
          %tr
            %th
            %th Stable
            %th Unstable
        %tbody
          %tr
            %td
              %h3 Java Client
              %p Brief paragraph abotu this cache store. Some interesting blurb about it and why it is useful.
            %td
              %a.btn.btn-success 5.2.0.CR2 Zip
              %br
              %a See maven coordinates
            %td
              %a.btn.btn-success 5.1.6.Final Zip
              %br
              %a See maven coordinates
          %tr
            %td
              %h3 .NET Client
              %p Brief paragraph abotu this cache store. Some interesting blurb about it and why it is useful.
            %td
              %a.btn.btn-success 5.2.0.CR2 Zip
              %br
              %a See maven coordinates
            %td
              %a.btn.btn-success 5.1.6.Final Zip
              %br
              %a See maven coordinates
          %tr
            %td
              %h3 Python Client
              %p Brief paragraph abotu this cache store. Some interesting blurb about it and why it is useful.
            %td
              %a.btn.btn-success 5.2.0.CR2 Zip
              %br
              %a See maven coordinates
            %td
              %a.btn.btn-success 5.1.6.Final Zip
              %br
              %a See maven coordinates
  .span3
    %h2 Hot Rod
    %p
      Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl. Phasellus vehicula magna sed nulla interdum, a pellentesque eros pulvinar. Nulla imperdiet enim sed aliquet lacinia. Nullam nec dolor hendrerit, vehicula libero vel, laoreet erat. Ut sed ipsum faucibus, dignissim neque nec, cursus quam. Fusce sagittis placerat vestibulum. Vestibulum quis tincidunt nulla. Cras venenatis orci ac augue egestas consequat. Nunc luctus magna vitae dignissim eleifend. Quisque consectetur porttitor turpis. Proin ac nulla libero.
    %h3 Contributing Clients
    %p Want to contribute more clients for Hot Rod? We’d love you to do so!
    %a Learn more about getting involved.
