---
layout: rightcol
title: Teiid Homepage
---

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseOne"}
        %h4
          .icon.icon-asterisk
          Announcement: 8.6 Final Released on December 17th, 2013
    #collapseOne.accordion-body.collapse
      .accordion-inner
        %p Teiid 8.6 for EAP 6.1 Alpha is now available. The main features are:
        %ul
          %li
            TEIID-2424
            %b OSGI Bundles
            \- Teiid jars are now  built also as OSGI bundles. A starter Karaf osgi container features.xml  file is available in maven repository with the build
          %li
            TEIID-1311
            %b Cassandra Connectivity
            \- is now offered through a community contribution by Radek Koubský of a  resource adapter and translator pair.  See the reference and admin  guides for more.
          %li
            TEIID-2309
            %b Conformed tables
            \- a feature to improve planning when identical tables exist in multiple sources.
          %li
            TEIID-2685
            %b SAP Netweaver
            \- enhanced the OData translator for use with Netweaver.
          %li
            %b Direct Query Procedure Support
            %ul
              %li TEIID-2740 - MongoDB
              %li TEIID-2734 - Cassandra
%table
  %tbody
    %tr
      %td{width:"50%"}
        %img{src: "#{site.project_images_url}/main2.png"}/
      %td
        %h4 Teiid is a data virtualization system that allows applications to use data from multiple, heterogenous data stores.
        %br
        %h5 Teiid is comprised of tools, components and services for creating and executing bi-directional data services.  Through abstraction and federation, data is accessed and integrated in real-time across distributed data sources without copying or otherwise moving data from its system of record.
%h3 Teiid Parts
%table.deftable{cellspacing: "0", style: "clear: both;", width: "75%"}
  %tbody
    %tr
      %td.termFirst{width: "90"} Query Engine
      %td.defFirst The heart of Teiid is a high-performance query engine that processes relational, XML, XQuery and procedural queries from federated datasources.  Features include support for homogeneous schemas, heterogeneous schemas, transactions, and user defined functions.
    %tr
      %td.term Embedded
      %td.def An easy-to-use JDBC Driver that can embed the Query Engine in any Java application.
    %tr
      %td.term Server
      %td.def
        %p An enterprise ready, scalable, managable, runtime for the Query Engine that runs inside JBoss AS that provides additional security, fault-tolerance, and administrative features.
    %tr
      %td.term Connectors
      %td.def
        %p Teiid includes a rich set of Translators and Resource Adapters that enable access to a variety of sources, including most relational databases, web services, text files, and ldap.  Need data from a different source? A custom translators and resource adaptors can easily be developed.
    %tr
      %td.term Tools
      %td.def
        %ul
          %li
            %strong Create
            \- Use
            %a{href: "http://www.jboss.org/teiiddesigner.html"} Teiid Designer
            to define
            %a{href: "#{site.base_url}/basics/virtualdatabases.html"} virtual databases
            containing views, procedures or even dynamic XML documents.
          %li
            %strong Monitor & Manage
            \- Use the
            %a{href: "#{site.base_url}/tools/console.html"} Teiid Web Console
            with just the AS or the
            %a{href: "https://community.jboss.org/wiki/NewTeiidRHQPluginForTeiid8x"} Teiid RHQ plugin
            to control any number of servers.
          %li
            %strong Script
            \- Use the
            %a{href: "#{site.base_url}/tools/adminshell.html"} Teiid AdminShell
            to automate administrative and testing tasks.
