---
layout: project
title: Infinispan Homepage
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  / Main hero unit for a primary marketing message or call to action
  #myCarousel.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    / Carousel items
    .carousel-inner
      .active.item
        %img(src="http://static.jboss.org/images/infinispan/carousel_img1.png")
      .item
        %img(src="http://static.jboss.org/images/infinispan/carousel_img2.png")
      .item
        %img(src="http://static.jboss.org/images/infinispan/carousel_img3.png")
      .item
        %img(src="http://static.jboss.org/images/infinispan/carousel_img4.png")
    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


/ section containing blog posts
#equalHeightsB.row-fluid.posts
  .span6.well
    %h3 News
    %a.seemore See news feed
    %ul.listPosts
      %li
        .avatar
        %span.name Martha Smith
        %span.meta March 10, 2012
        %a{:href => "blog-single.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere pellentesque arcu, eu volutpat neque adipiscing quis. Aliquam tempor gravida sapien id egestas.
      %li
        .avatar
        %span.name Ella Fitzgerald
        %span.meta July 10, 2012
        %a{:href => "blog-single.html"} Vestibulum sed rhoncus nulla. Ut magna massa, cursus at mattis in, hendrerit nec ipsum. Aliquam quis lectus velit. Nam lacinia ut diam sed mollis.
      %li
        .avatar
        %span.name Wendy Davis
        %span.meta January 10, 2012
        %a{:href => "blog-single.html"} Aliquam posuere ac dolor ultricies hendrerit. Nunc varius ac magna ut tristique. Proin id erat sed risus sollicitudin laoreet. Donec sagittis lacinia lorem, sed aliquam quam tempus id.

  .span6.well
    %h3 Forums
    %a.seemore See all forums
    %ul.listPosts
      %li
        .avatar
        %span.name Anias Nin
        %span.meta February 10, 2012
        %a{:href => "blog-single.html"} Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper.
      %li
        .avatar
        %span.name Gretta Garbo
        %span.meta September 10, 2012
        %a{:href => "blog-single.html"}  Nullam sit amet mollis elit, a scelerisque nisl. Phasellus vehicula magna sed nulla interdum, a pellentesque eros pulvinar. Nulla imperdiet enim sed aliquet lacinia.
      %li
        .avatar
        %span.name Christine Wig
        %span.meta December 10, 2012
        %a{:href => "blog-single.html"}  Nullam nec dolor hendrerit, vehicula libero vel, laoreet erat. Ut sed ipsum faucibus, dignissim neque nec, cursus quam.

