---
layout: rightcol
title: Mailing Lists
---

%h2 User Forums
%p A good place to start with quick questions for other  users.
%dl
  %dt Teiid-Users
  %dd
    %a{href: "http://community.jboss.org/en/teiid?view=discussions"} http://community.jboss.org/en/teiid?view=discussions
  %dt Teiid-Dev
  %dd
    %a{href: "http://community.jboss.org/en/teiid/dev"} http://community.jboss.org/en/teiid/dev


%h2 Mailing Lists
.clear
  %br/
#mailing-lists
  %dl
    %dt
      %i.icon.icon-envelope
      teiid-users
    %dd
      %a{href: "https://lists.jboss.org/mailman/listinfo/teiid-users"} https://lists.jboss.org/mailman/listinfo/teiid-users
    %dd
      A good place to start with quick questions for other  users. Alternative to forums, but we prefer forum as they are searchable easily.
      %br/
  %dl
    %dt
      %i.icon.icon-envelope
      teiid-announce
    %dd
      %a{href: "https://lists.jboss.org/mailman/listinfo/teiid-announce"} https://lists.jboss.org/mailman/listinfo/teiid-announce
    %dd Low volume list for release announcements and other major happenings, used by project leads.
  %br/
  .well
    %strong The following mailing lists relate to Teiid development.
    Usage questions should be directed to the forum or the users list.
  %dl
    %dt
      %i.icon.icon-envelope
      teiid-dev
    %dd
      %a{href: "https://lists.jboss.org/mailman/listinfo/teiid-dev"} https://lists.jboss.org/mailman/listinfo/teiid-dev
    %dd Quick discussion list for developers.  This list is preferable to IRC, however any significant discussion should get captured in a forum topic or a JIRA.
  %dl
    %dt
      %i.icon.icon-envelope
      teiid-issues
    %dd
      %a{href: "https://lists.jboss.org/mailman/listinfo/teiid-issues"} https://lists.jboss.org/mailman/listinfo/teiid-issues
    %dd Messages are sent automatically from updates to JIRA issues.
  %dl
    %dt
      %i.icon.icon-envelope
      teiid-commits
    %dd
      %a{href: "https://lists.jboss.org/mailman/listinfo/teiid-commits"} https://lists.jboss.org/mailman/listinfo/teiid-commits
    %dd Messages are sent automatically from commits.