%h2 MAVEN
%p Prefer to use Maven to download Infinispan? We do!
%a.btn
  Maven Instructions

%h2 HOT ROD
%a.btn
  Hot Rod Clients
%br
%a Learn more about Hot Rod

%h2 CACHE STORES
%a.btn
  Cache Store Implementations
%br
%a What is a Cache Store?