%a{href: "http://www.jboss.com/products/platforms/dataservices/"}
  %img{alt: "Looking for a fully supported, certified Data Services Platform?", height: "75", src: "#{site.project_images_url}/projectimage_projecttoproduct_dsp.png", style: "margin:0 auto;", width: "244"}/

= partial('rightcol.html.haml')