%h2 MAVEN
%p Prefer to use Maven to download Infinispan? We do!
%a.btn{:href => "/maven-instructions.html"}
  Maven Instructions

%hr

%h2 HOT ROD
%a.btn{:href => "/hotrod-clients.html"}
  Hot Rod Clients
%br
%a Learn more about Hot Rod »

%hr

%h2 CACHE STORES
%a.btn{:href => "/cache-store-implementations.html"}
  Cache Store Implementations
%br
%a What is a Cache Store? »

%hr
