---
layout: project
title: Admin Shell
---

%h2 Admin Shell
.well
  AdminShell is a scripting tool based on&nbsp;
  %a{:href => "http://groovy.codehaus.org/"} Groovy
  that can be used to perform the administrative functions on a Teiid Server from a command line shell, GUI shell or a script file. This tool exposes the java based
  %a{:href => "#{site.base_url}/docs.html"} Admin API
  with its tooling to allow easily editable scripting. If you would like to know more about the tool and how it can be used please look at Admin Guide document in
  %a{:href => "#{site.base_url}/docs.html"} documents
  section.
%p
  Using this tool you can perform many administrative tasks such deplying a VDB and monitor queries being executed, just like in the
  = succeed "," do
    %a{:href => "#{site.base_url}/tools/console.html"} Console
  but through scripts. This lets users automate repetitive tasks.