---
layout: project
title: Console
---

%h2 Teiid Console
.well
  The
  %strong Teiid Console
  is a graphical web based administrative tool that is written using the GWT technologies which is used to monitor the JBoss AS instances. Teiid provides an additional plugin-in into this system that lets users configure and manage Teiid along with JBoss AS.
%h3 What can Console do?
%p Console can help with various administrative tasks such as...
%ol
  %li Deploying a VDB to a running server, and undeploy
  %li Create and deploy a Data Source
  %li Check translator property
  %li Change deployed VDB configuration.
%p It also helps in monitoring tasks such as...
%ol
  %li Viewing and management of sessions
  %li Monitoring the active system health and stopping and starting services
  %li View currently executing queries and perform a 'cancel' if necessary
  %li View current system properties
  %li more..
%p Look at the Admin Guide document for how to use the Console and all the features it supports.
.clear
  %br/
%table
  %tr
    %td
      %img{:alt => "", :height => "588", :src => "#{site.project_images_url}/webconsole1.png", :style => "margin:0 auto;", :width => "800"}/